* {
    padding: 0;
!important;
    margin: 0;
!important;
}

.navbar-brand {
    font-size: 3em;
}

.nav-link {
    font-size: 1.5em;
    padding-bottom: 0;
}

body {
    font-family: 'Abel', sans-serif;
    background-color: #f0f0f0;
}

h1, h2 {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: 5em;
    margin-bottom: .5em;
    margin-top: 1em;
}

h2 {
    font-size: 2.5em;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.circle {
    color: white;
    font-weight: 600;
!important;
    display: flex;
    border: solid white 5px;
    border-radius: 100%;
    width: 105px;
    height: 105px;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
}

.sm-circle {
    color: black;
!important;
    display: flex;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
}

.design {
    background-color: #e6563b;
}

.develop {
    background-color: #eb9d3a;
}

.support {
    background-color: #7cb06c;
}

.host {
    background-color: #00aba9;
}

.card-img-top {
    border: solid .5em #e6e6e6;
}

p, span {
    margin: .3em;
}

.last {
    border: solid .5em #e6e6e6;
    display: flex;
    padding: 0;
!important;
    margin: 0;
!important;
}

.last-span {
    padding: 0;
!important;
    margin: 0;
!important;
    font-family: 'Anton', sans-serif;
    font-size: 2em;
}

.last-p {
    font-size: 1.5em;
}