*{
    padding: 0;!important;
    margin: 0;!important;
}
body {
    background-color: #e6e6e6;
}
ul{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.circle {
    color: white;
    font-weight: bold;
    display: flex;
    border: solid white 5px;
    border-radius: 100%;
    width: 105px;
    height:105px;
    justify-content: center;
    align-items: center;
}
.design{
    background-color: #e6563b;
}
.develop{
    background-color: #eb9d3a;
}
.support{
    background-color: #7cb06c;
}
.host{
    background-color: #00aba9;
}