* {
    padding: 0;
!important;
    margin: 0;
!important;
    font-family: 'Abel', sans-serif;;
}

body {
    background-color: #f0f0f0;
}

h1, h2 {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: xxx-large;
    margin-bottom: 1em;
    margin-top: 1em;
}

h2 {
    font-size: xx-large;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.circle {
    color: white;
    font-weight: bold;
    display: flex;
    border: solid white 5px;
    border-radius: 100%;
    width: 105px;
    height: 105px;
    justify-content: center;
    align-items: center;
}

.sm-circle {
    font-weight: bold;
    display: flex;
    border: 0px;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
}

.design {
    background-color: #e6563b;
}

.develop {
    background-color: #eb9d3a;
}

.support {
    background-color: #7cb06c;
}

.host {
    background-color: #00aba9;
}

.card-img-top {
    border: solid .5em #e6e6e6;
    /*width: 424px;*/
    /*height: 287px;*/
}

p, span {
    margin: .3em;
}

.last {
    /*width: 105px;*/
    /*height: 105px;*/
    border: solid .5em #e6e6e6;
    display: flex;
    padding: 0px;
!important;
    margin: 0px;
!important;
}

.last-span {
    padding: 0px;
!important;
    margin: 0px;
!important;

}